<header class="header">
  <img class="logo" src="../assets/imgs/logo/logo.png" alt="logo page" />

  <nav class="main-nav">
    <ul class="main-nav__list">
      <li>
        <a class="main-nav__link" href="../index.html">Home</a>
      </li>
      <li>
        <a class="main-nav__link" href="../products/products.html">Products</a>
      </li>
      <li>
        <a class="main-nav__link" href="../carts/cart.html">Carts</a>
      </li>
      <li>
        <a class="main-nav__link" href="../orders/order.html">Orders</a>
      </li>
    </ul>
  </nav>

  <div class="user">
    <ion-icon name="person-circle" class="icon-user"></ion-icon>
    <span class="user-name">username</span>
    <button class="btn btn-logout">Logout</button>
  </div>
</header>
