.hero-section {
  min-height: calc(100vh - 80px);
  padding-block: 4.6rem;
  background: linear-gradient(
      to bottom right,
      rgba(0, 0, 0, 0.8),
      rgba(0, 0, 0, 0.6)
    ),
    url('../imgs/hero-1.webp');
  background-size: cover;
  background-position: center;
  color: #fff;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero__text {
  font-size: 1.8rem;
  margin-bottom: 1.8rem;
}

.hero__btn {
  display: inline-block;
  background-color: var(--primary-color);
  padding: 1.4rem 2.8rem;
}
